body,
html {
  margin: 0;
  font-family: "IBM Plex Mono", monospace !important;
  height: 100%;
  background-color: var(--bg-4);
  font-size: 0.875;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  height: 1px;
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--color-nero);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 10px;
}

p {
  margin: 0;
  padding: 0;
}
