.rc-pagination {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

button,
a {
  font-family: "PT Mono";
}

.rc-pagination ul,
.rc-pagination ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.rc-pagination::after {
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  content: " ";
}

.rc-pagination-item {
  display: inline-block;
  padding: 4px 8px;
  margin-right: 6px;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  border-radius: 5px;
  outline: 0;
  cursor: pointer;
  user-select: none;
  border: 1px transparent;
}

.rc-pagination-item a {
  display: block;
  padding: 0 6px;
  color: white;
  transition: none;
}

.rc-pagination-item a:hover {
  text-decoration: none;
}

.rc-pagination-item:focus,
.rc-pagination-item:hover {
  border-color: var(--color-primary);
  transition: all 0.3s;
}

.rc-pagination-item:focus a,
.rc-pagination-item:hover a {
  color: var(--color-primary);
}

.rc-pagination-item-active {
  background: linear-gradient(
    94.35deg,
    var(--color-primary) 5.89%,
    var(--color-primary) 5.9%,
    var(--color-info) 94.66%
  );
}

.rc-pagination-item-active a {
  color: #fff;
}

.rc-pagination-item-active:focus a,
.rc-pagination-item-active:hover a {
  color: #fff;
}

.rc-pagination-jump-prev button,
.rc-pagination-jump-next button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
}

.rc-pagination-jump-prev button:after,
.rc-pagination-jump-next button:after {
  display: block;
  content: "...";
}

.rc-pagination-jump-prev button:hover,
.rc-pagination-jump-next button:hover {
  color: var(--color-primary);
}

.rc-pagination-jump-prev button:focus,
.rc-pagination-jump-next button:focus {
  border: none;
  outline: 0;
}

.rc-pagination-jump-prev,
.rc-pagination-jump-next {
  margin-right: 6px;
}

.rc-pagination-prev {
  margin-right: 18px;
}

.rc-pagination-next {
  margin-left: 12px;
}

.rc-pagination-prev,
.rc-pagination-next,
.rc-pagination-jump-prev,
.rc-pagination-jump-next {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  transition: all 0.3s;
}

.rc-pagination-prev button,
.rc-pagination-next button {
  display: inline-block;
  background-color: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  padding: 4px 10px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  border-radius: 5px;
  outline: 0;
  cursor: pointer;
  user-select: none;
}

.rc-pagination-prev:hover button,
.rc-pagination-next:hover button {
  opacity: 0.8;
  transition: opacity 300ms;
}

.rc-pagination-prev button::before {
  content: "‹";
  display: inline-block;
  margin-right: 5px;
  font-size: larger;
}

.rc-pagination-next button:after {
  content: "›";
  display: inline-block;
  margin-left: 5px;
  font-size: larger;
}

.rc-pagination-disabled,
.rc-pagination-disabled:hover,
.rc-pagination-disabled:focus {
  cursor: not-allowed;
}

.rc-pagination-disabled button,
.rc-pagination-disabled:hover button,
.rc-pagination-disabled:focus button {
  color: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.6);
  cursor: not-allowed;
}

.rc-pagination-options {
  display: inline-block;
  vertical-align: middle;
}

@media all and (-ms-high-contrast: none) {
  .rc-pagination-options *::-ms-backdrop,
  .rc-pagination-options {
    vertical-align: top;
  }
}

.rc-pagination-jump-prev,
.rc-pagination-jump-next {
  display: none;
}

.rc-pagination-item:not(.rc-pagination-item-active) {
  display: none;
}

@media (min-width: 1024px) {
  .rc-pagination-item {
    display: inline-block;
  }

  .rc-pagination-jump-prev,
  .rc-pagination-jump-next {
    display: inline-block;
  }

  .rc-pagination-item:not(.rc-pagination-item-active) {
    display: inline-block;
  }
}
